body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00C0FF), to(#4e19dd));
  background-image: linear-gradient(to bottom, #00C0FF, #4e19dd);
}
body main section {
  margin: 0 auto;
  max-width: 600px;
}
body main section#search {
  height: 20vh;
  margin-bottom: 2vh;
}
body main section#search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4a3c71;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main section#search form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 40%;
  background-color: #e8f0fe;
  margin: auto;
  border-radius: 10px;
}
@media screen and (min-width: 640px) {
  body main section#search form div {
    max-width: 600px;
  }
}
body main section#search form div input#input {
  width: 100%;
  height: 94%;
  border-radius: 10px;
  border: none;
  padding-left: 5px;
  color: rgb(34, 34, 34);
  background: rgba(106, 106, 106, 0);
}
body main section#search form div input#input:focus {
  border: none;
  outline: none;
}
body main section#search form div#button {
  border-radius: 10px;
  width: 50px;
  border-style: none;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  position: relative;
}
body main section#search form div#button i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
body main section#display {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
}
body main section#display div {
  width: 100%;
  text-align: center;
}
body main section#display div#degre {
  width: 60%;
}
body main section#display div#degre span#temp {
  color: white;
  text-shadow: 2px 2px 3px rgb(70, 70, 70);
  font-size: 80px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
}
body main section#display div#visuel {
  width: 40%;
}
body main section#display div#visuel span#weatherDescription {
  color: white;
  text-shadow: 2px 2px 3px rgb(70, 70, 70);
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
}
body main section#info {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main section#info span {
  color: white;
  margin-left: 5%;
  font-family: "Quicksand", sans-serif;
}
body main section#forecast {
  height: 50vh;
  font-family: "Quicksand", sans-serif;
  color: white;
  max-width: 600px;
}
body main section#forecast div {
  font-family: "Quicksand", sans-serif;
}
body main section#forecast div h1 {
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 30px;
}
body main section#forecast div p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
body main section#forecast table {
  height: 50px;
  width: 100%;
  text-align: center;
  display: none;
}
body main section#forecast table tbody {
  width: 100%;
}
body main section#forecast table tbody tr {
  border-bottom: 1px rgb(146, 179, 208) solid;
  height: 60px;
}
body main section#forecast table tbody tr#th {
  height: 30px;
}
body main section#forecast table tbody tr td {
  padding-top: 10px;
}
body main section#forecast table tbody tr td#hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
body main section#forecast table tbody tr td#day1, body main section#forecast table tbody tr td#day2, body main section#forecast table tbody tr td#day3, body main section#forecast table tbody tr td#day4 {
  vertical-align: top;
  font-weight: 600;
}
body main section#forecast table tbody tr td#icones1, body main section#forecast table tbody tr td#icones2, body main section#forecast table tbody tr td#icones3, body main section#forecast table tbody tr td#icones4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
body main section#forecast table tbody tr td#icones1 span img, body main section#forecast table tbody tr td#icones2 span img, body main section#forecast table tbody tr td#icones3 span img, body main section#forecast table tbody tr td#icones4 span img {
  width: 50px;
}
body main section#forecast table tbody tr td#minmax1, body main section#forecast table tbody tr td#minmax2, body main section#forecast table tbody tr td#minmax3, body main section#forecast table tbody tr td#minmax4 {
  vertical-align: top;
  text-align: center;
}
body main section#forecast table h3 {
  margin-bottom: 10px;
}
body footer {
  height: 3vh;
  font-size: 10px;
  text-align: right;
  vertical-align: bottom;
  color: white;
  font-family: "Quicksand", sans-serif;
  margin-right: 10px;
}
body footer a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */